{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Отредактируем данные книги!</h2>
        <br>

        {{ form_errors(bookForm) }}

        {{ form_start(bookForm) }}

        <div class="left">
            {% if bookForm.coverImage.vars.data is not null  %}
                {{ form_row(bookForm.coverImage, { 'attr':{'readonly':'readonly'} }) }}
                {{ imgResize(bookForm.coverImage.vars.data, 240, 320) }}

                <a href="{{ path('app_books_delete_image', {id: id}) }}" class="btn btn-danger js-delete-image">Удалить файл обложки</a>
            {% else %}
                <img src="{{ asset('images/book.jpeg') }}">
            {% endif %}

            <br>
            <br>

            {% if bookForm.file.vars.data is not null  %}
                {{ form_row(bookForm.file, { 'attr':{'readonly':'readonly'} }) }}
                {{ form_row(bookForm.downloadable) }}
                <a href="{{ path('app_books_delete_file', {id: id}) }}" class="btn btn-danger js-delete-file">Удалить файл книги</a>
            {% endif %}
        </div>

        <div class="right">
            {{ form_row(bookForm.title) }}
            {{ form_row(bookForm.author) }}
            {{ form_row(bookForm.addedDate) }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Обновить данные" />
            </div>

            <a href="{{ path('app_books_delete_book', {id: id}) }}" class="btn btn-danger js-delete-book">Удалить книгу полностью</a>
        </div>

        {{ form_row(bookForm._token) }}
        {{ form_end(bookForm, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/book.js') }}"></script>
{% endblock %}