{% extends 'base.html.twig' %}

{% block body %}
    {% for book in books %}
        <div class="container">
            <div class="left">
                {% if book.coverImage %}
                    {{ imgResize(book.coverImage, 240, 320) }}
                {% else %}
                    <img src="{{ asset('images/book.jpeg') }}">
                {% endif %}
            </div>

            <div class="right">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>

                <p>{{ book.addedDate|ago }} ( {{ book.addedDate|date('d.m.Y H:i') }} )</p>

                <div class="right-buttons">
                    {% if is_granted('ROLE_USER') %}
                        <a class="btn btn-primary" href="{{ path('app_books_edit', {id: book.id}) }}">Редактировать</a>
                    {% endif %}

                    {% if book.downloadable and book.file %}
                        <a class="btn btn-primary" href="{{ asset('upload/files/' ~ book.file) }}">Скачать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="container">
        <div class="navigation" style="text-align: center">
            {{ knp_pagination_render(books) }}
        </div>
    </div>

{% endblock %}