{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

{% block title %}
        {{ title }}
{% endblock %}

    <div>
        <p>Какой-то текст для проверки отображения шаблона</p>
        <a href="{{ path('app_homepage') }}">Какая-то ссылка</a>
    </div>

    <div>
        <h3>Comments ({{ comments|length }})</h3>
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}